<div class="container mt-3">


  <h1>Add a new list</h1>
  <div class="card bg-white p-3">
    <%= simple_form_for @list do |list| %>
      <%= list.input :name %>
      <%= list.button :submit, class:"btn btn-primary" %>
    <% end %>
    <%= link_to "Cancel", lists_path, class:"mt-3" %>
  </div>
</div>
